workflow.json
{
  "name": "Telegram AI Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b9e3e6ac-59ff-4f78-9db7-95d29db4f3e0",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"mistral\", \"prompt\": \"You are a concise Telegram assistant. Reply clearly and briefly.\\n\\nUser: \" + ($json.message.text ?? \"\"), \"stream\": false, \"options\": { \"num_predict\": 80, \"temperature\": 0.5 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f022ed35-ad6e-4468-b80a-77ceb27f4887",
      "name": "HTTP Request -> Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3aa43f-0747-4e47-b5a0-1ea77b4f5d95",
              "name": "reply",
              "value": "={{$json.response}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa10e49c-4a9a-4626-b91e-dc43f2cc37a9",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json.reply}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "9fdd1b71-f3f7-40f8-84fa-9a6810f9374d",
      "name": "Telegram Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1020,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request -> Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request -> Ollama": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3cb880a-22b2-447f-81c6-42ea1f6cfd8a",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "TelegramAIAssistant"
}
